<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav style="margin: 2px;padding: 2px;">
        <ul>
            <li><a href="./HW1.html">Home Page</a></li>
            <li><a href="./Contact.html">Contact</a></li>
        </ul>
    </nav>
    <div style="border:2px solid black; padding: 2px; text-align: center">
        <h1 style="color:brown;">Contact</h1>
    </div>
    <span style="border: 2px;">
        <h3>Please leave your details and then write your message</h3S>
    </span>
    <form style="border: 2px;" action="" method="">
        <label for="FirstName">First Name</label>
        <input style="margin: 5px;" type="text" id="FirstName" name="FirstName" required><br>
        <label for="SureName">Sure Name</label>
        <input style="margin: 5px;" type="text" id="SureName" name="SureName" required><br>
        <label for="Country">Country</label>
        <input style="margin: 5px;" type="text" id="Country" name="Country" required><br> 
        <label for="email">email</label>
        <input style="margin: 5px;" type="text" id="email" name="email"><br>
        <label for="massage">Please leave your massage here</label><br>
        <input style="width: 10cm; height: 5cm; margin: 5px;" type="text" id="massage" name="massage"><br>
        <input value="Submit" type="submit">
    </form>
</body>
</html>