<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Home.css">
    <script defer src="../templates/JS.js"></script>
</head>
<body>
    <header id="container">
        <span >
            <img class="rotate" id = "imgh1" src="../static/logo.png" alt="">
        </span> 
        <span id="spanh">
            <img id = "imgh2" src="../static/logo.png" alt="">
        </span> 
    </header>
    <nav class="topview">
        <a class="nav1" href="./HW1.html">Home Page</a>
        <a class="nav1" href="./Contact.html">Contact</a>
    </nav>
    <div class="box" >
        <span >
            <img id="img1"  src="../static/Pic1.png" alt="">
        </span>
        <span > 
            <h1 id="htext">Home Page</h1>
        </span> 
        <span>
            <img id="img2"  src="../static/Pic2.png" alt="">
        </span>
    </div>
    <div >
        <span>
            <h3 id="stext"></h3>
        </span >
    </div>
</body> 
</html>